@font-face {
  font-family: Baskervville;
  src:
  url('../../fonts/Baskervville/Baskervville-Regular.ttf');
}

@font-face {
  font-family: Baskervville;
  src:
  url('../../fonts/Baskervville/Baskervville-Italic.ttf');
  font-style: italic;
}

//colors
.pfd-green-yellow {
  color: #ADFF2F;
}
